:root{
    /* --primary:#ddd; */
    /* --shadow:0 1px 5px rgba(104,104,104,0.8); */
}
body{
    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5; */
    font: 15px/1.5 Arial, Helvetica, sans-serif;   /* Shortcut for all three */
    background: #f4f4f4;
    padding: 0;
    margin: 0;
}

/* Global */
.btn1{
    background: #e8491d;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    border-radius: 2rem;
}

header{
    background: #35424a;
    color: #ffffff;
    padding: 0px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

.branding{
    display: inline-flex;    
}

.branding h1{
    display: inline;
    padding-left: 2.299rem;
}
nav{
    display: inline-flex;
    padding-top: 1.88rem;
}
header ul{
    margin: 0;
    padding: 0;
    padding-left: 42rem;
}

header li{
    display: inline-flex;
    padding: 0 20px ;
}      

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}
header li a:hover{
    color: #cccccc;
}
.highlight,
header li a.active{
    color: #e8491d ;

}


/* Showcase */
#showcase{
    min-height: 400px;
    background: url('https://source.unsplash.com/2000x1200/?coding,laptop') no-repeat 0 -600px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}
.container2 h1{
    padding-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

:-webkit-any(article, aside, nav, section) h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container2 p{
    font-size: 20px;
}


/* Newsletter */
#newsletter{
    padding: 15px;
    color: white;
    background: #35424a;
    border-bottom: #e8491d 3px solid;
}

.container3{
    display: inline-flex;
}

form{
    display: inline-flex;
}

form input[type="email"]{
    border-radius: 2rem;
    border: none;
    text-align: center;
}

.container3 form{
    padding-left: 44rem;
}


/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    padding-left: 1.77rem;
    box-shadow:var(--shadow);
}

#boxes .box img{
    width: 150px;
}

/* Footer */
footer{
    display: inline-block;
    padding: 5px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    padding-left: 29.9rem;
    padding-right: 29.9rem;
}



/* About Page */
aside {
    display: inline-flex;
}
aside #sidebar{
    width: 30%;
    margin-top: 10px;
    padding-left: 55rem;
}
aside #sidebar h3{
    flex-direction: row-reverse;
    
}


@media (max-width: 415px){
    html{
        display:inline-flex;
    }
    *{
        padding: 0;
        margin: 0;
    }
    .branding{
        display: inline-block;
        padding: 2rem;
    }
    .branding h1,
    nav ul{
    display:block;
    padding: 0;
    margin: 0;
    }
    .branding h1{
        padding-left: 6.5rem;
        padding-right: 6.5rem;
        align-items: center;
        text-align: center;
        font-size: 5.2rem;
        display: inline-flex;
    }
    nav{
        padding-top: 0;
        padding-left: 20rem;
        padding-right: 20rem;
    }
    form{
        float: right;
        width: 12%;
    }
    .container3 h1{
        display: inline;
    }
    .container3 form{
        padding-left: 27rem;
    }
    header ul{
        display: inline-flex;
    }
    header ul li{
        font-size: 6rem;
    }
    body{
    display: block;
    }
    footer p {
        padding: 5px;
        display: inline-block;
    }
}
